{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=ABeeZee&amp;display=swap">
    <title>404 not found</title>
    <link rel="stylesheet" href="{% static '/page_404/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static '/page_404/css/styles.css' %}">
</head>

<body>
    <h1 class="text-center" style="font-family: ABeeZee, sans-serif;"><br>404 Not Found<br><br></h1>
    <div class="container text-center d-xl-flex justify-content-xl-center"><img class="d-xl-flex" src="https://cdn.discordapp.com/attachments/240807300816830464/919588000030163004/unknown.png" style="width: 200px;"></div>
    <p class="text-center" style="font-size: 14px;font-family: ABeeZee, sans-serif;"><br>ไม่พบ URL นี้เหมือนคะแนน PSIT ของผม - บวรวิช กิตติเน็ง<br><br></p>
    <script src="{% static '/page_404/bootstrap/js/bootstrap.min.js' %}"></script>
</body>

</html>
