{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>About me</title>
    <link rel="stylesheet" href="{% static '/about_us/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static '/about_us/css/styles.css' %}">
    <link rel="stylesheet" href="{% static '/effect_css/hover-min.css' %}">
    <link rel="shortcut icon" href="{% static 'lazy2use.ico' %}" type="image/x-icon">
</head>

<body style="border-radius: 15px; background-color: #FAFAFA;font-family: 'Roboto', sans-serif;">
    <nav class="navbar navbar-light navbar-expand-md"
        style="background-image: linear-gradient(to right, #53b8d8, #40b4e5, #3daef2, #50a5fb, #6f9bff);">
        <div class="container-fluid"><a class="navbar-brand" href="/"
                style="font-weight: bold;color: rgb(255,255,255); font-size: 50px;">LAZY2USE</a>
            <ul class="navbar-nav">
                <li class="nav-item hvr-sink" style="border-radius: 15px;"><a class="nav-link active" href="/youtube"
                        style="margin-left: 5px;margin-right: 5px;color: rgb(0,0,0);background: #e3f8ff;border-radius: 15px;font-weight: bold; font-size: 25px;width: 275px;text-align: center;">Youtube
                        Downloader</a></li>
                <li class="nav-item hvr-sink"><a class="nav-link" href="/url"
                        style="border-color: rgb(231,231,231);background: #e3f8ff;color: rgb(0,0,0);border-radius: 15px;margin-right: 5px;margin-left: 5px;font-weight: bold; font-size: 25px;width: 200px;text-align: center;">URL Shortener</a></li>
                <li class="nav-item"><a class="nav-link"
                        style="border-color: rgb(231,231,231);background: #c3d5db;color: rgb(0,0,0);border-radius: 15px;margin-right: 5px;margin-left: 5px;font-weight: bold; font-size: 25px;width: 200px;text-align: center;">About Us</a></li>
            </ul>
        </div>
    </nav>
    <div class="col" style="margin: 20px;margin-right: 50px;margin-left: 50px; ">
        <h1 class="text-start" style="font-size: 40px; font-weight: bold; margin: 60px;">Chapchai Sabai Hair.</h1>
    </div>
    <div class="col text-start">
        <div class="container" style="margin-bottom: 40px;">
            <div class="row d-flex d-xl-flex justify-content-center justify-content-xl-center align-items-xl-center">
                <div class="col-md-3 d-flex d-xl-flex align-items-center align-items-xl-center"
                    style="width: 400px;background: #f8f7f7;border-radius: 20px;box-shadow: 0 4px 8px 0 rgba(211, 206, 206, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); margin-right: 20px;">
                    <img class="rounded-circle" style="width: 150px;height: 150px;margin: 10px;"
                        src="https://media.discordapp.net/attachments/895621344467767307/958199440299143208/Screen_Shot_2565-03-29_at_10.01.37.png">
                    <p style="font-size: 18px; font-weight: bold;">64070011<br>นายเขมฐิติ หวังทรัพย์ทวี</p>
                </div>

                <div class="col-md-3 d-flex d-xl-flex align-items-center align-items-xl-center"
                    style="width: 450px;background: #f8f7f7;border-radius: 20px;box-shadow: 0 4px 8px 0 rgba(211, 206, 206, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); margin-left: 20px;">
                    <img class="rounded-circle"
                        src="https://cdn.discordapp.com/attachments/452574191774990356/919213626701803550/unknown.png"
                        width="150px" style="height: 150px;margin: 10px;">
                    <p style="font-size: 18px; font-weight: bold;">64070084<br>นางสาวภัทรานิษฐ์ สิริอุดมศักดิ์</p>
                </div>
            </div>
        </div>
        <div class="container" style="margin-bottom: 40px;">
            <div class="row d-flex d-xl-flex justify-content-center justify-content-xl-center">
                <div class="col-md-3 d-flex d-xl-flex align-items-center align-items-xl-center"
                    style="width: 400px;height: px;background: #f8f7f7;border-radius: 20px;box-shadow: 0 4px 8px 0 rgba(211, 206, 206, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); margin-right: 20px;">
                    <img class="rounded-circle" style="width: 150px;height: 150px;margin: 10px;"
                        src="https://media.discordapp.net/attachments/895621344467767307/902566741505372213/Screenshot_20211026-213731.png?width=533&height=533">
                    <p style="font-size: 18px; font-weight: bold;">64070072<br>นายพลวิชญ์ ดวงสุข</p>
                </div>
                <div class="col-md-3 d-flex d-xl-flex align-items-center align-items-xl-center"
                    style="width: 450px;height: px;background: #f8f7f7;border-radius: 20px;box-shadow: 0 4px 8px 0 rgba(211, 206, 206, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); margin-left: 20px;">
                    <img class="rounded-circle" style="width: 150px;height: 150px;margin: 10px;"
                        src="https://media.discordapp.net/attachments/895621344467767307/958199469445378068/Screen_Shot_2565-03-29_at_10.02.09.png">
                    <p style="font-size: 18px; font-weight: bold;">64070085<br>นายภาพตะวัน ปัญญาพานิชกุล</p>
                </div>
            </div>
        </div>
        <div class="container">
            <div
                class="row d-flex d-xl-flex justify-content-center justify-content-xl-center justify-content-xxl-center">
                <div class="col-md-3 d-flex d-xl-flex align-items-center align-items-xl-center"
                    style="width: 400px;background: #f8f7f7;border-radius: 20px;box-shadow: 0 4px 8px 0 rgba(211, 206, 206, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
                    <img class="rounded-circle" style="width: 150px;height: 150px;margin: 10px;"
                        src="https://cdn.discordapp.com/attachments/895621344467767307/919214097055236186/cuteneng.jpg">
                    <p style="font-size: 18px; font-weight: bold;">64070173<br>นายบวรวิช กิตติดำเกิง</p>
                </div>
            </div>
        </div>
        <br>
        <div style="color: #D7D7D7;">
            <center>@จับฉ่ายสบายแฮร์</center>
            <center>PSIT Project</center>
        </div>
    </div>
    <script src="{% static '/about_us/bootstrap/js/bootstrap.min.js' %}"></script>
</body>

</html>
