<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>About me</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/styles.css">
    <style>
        .flex-container1>.row::before {
            content: "";
            display: block;
            width: 2px;
            height: 100%;
            background-color: white;
            position: absolute;
            left: -180px;
            top: 0;
        }
    </style>
</head>

<body style="border-radius: 15px; background-color: #FAFAFA;font-family: 'Roboto', sans-serif;">
    <nav class="navbar navbar-light navbar-expand-md"
        style="background-image: linear-gradient(to right, #53b8d8, #40b4e5, #3daef2, #50a5fb, #6f9bff);">
        <div class="container-fluid"><a class="navbar-brand" href="#"
                style="font-weight: bold;color: rgb(255,255,255); font-size: 50px;">About us</a>
            <ul class="navbar-nav">
                <li class="nav-item"><a class="nav-link active" href="#"
                        style="margin-left: 5px;margin-right: 5px;color: rgb(0,0,0);background: #e3f8ff;border-radius: 15px;font-weight: bold; font-size: 25px;width: 250px;text-align: center;">Video
                        Downloader</a></li>
                <li class="nav-item"><a class="nav-link" href="#"
                        style="border-color: rgb(231,231,231);background: #e3f8ff;color: rgb(0,0,0);border-radius: 15px;margin-right: 5px;margin-left: 5px;font-weight: bold; font-size: 25px;width: 200px;text-align: center;">URL
                        Shorter</a></li>
            </ul>
        </div>
    </nav>
    <div class="col" style="margin: 20px;margin-right: 50px;margin-left: 50px;">
        <h1 class="text-start" style="font-size: 40px; font-weight: bold; margin: 60px;">Chapchai Sabai Hair.</h1>
    </div>
    <div class="col text-start">
        <div class="container" style="margin-bottom: 40px;">
            <div class="row d-flex d-xl-flex justify-content-center justify-content-xl-center align-items-xl-center">
                <div class="col-md-3 d-flex d-xl-flex align-items-center align-items-xl-center"
                    style="width: 400px;background: #f8f7f7;border-radius: 20px;box-shadow: 0 4px 8px 0 rgba(211, 206, 206, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); margin-right: 20px;">
                    <img class="rounded-circle" style="width: 150px;height: 150px;margin: 10px;"
                        src="https://s3-alpha-sig.figma.com/img/1239/80f7/14171e17e1274c05d433ddb47f351680?Expires=1639958400&Signature=LfGngRVdnS3lgA7CaoECbORIUJCaaDs0X69V0JZgAl2gQb7e3ExqTHwlcJwPvMwXEOtgXFVhVAZML3C5n0-Ysl8u4N-JdBXcUdD6Gk6fSOj8G42setxlBaht3sUYNLG03waVV-EHxp4HAmMgRtcat2zXgvARiNWinUrwoDN5FsurQeHjLFrlWTZqkLtCOJleKqyGJnLxhSjun2Jb-3p8OtWDNcaqtb0r-CXnDloyx2GFNfw~TepEQqL1baiM8bWdSsdBnBNKuy1N0snby9KXhtT65E3Wsaem8VsAFDH8Q7KklN-2UQcEKVeR1uLkcpbMCyOD7~gar7EHcUHslAXd0Q__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA">
                    <p style="font-size: 18px; font-weight: bold;">64070011<br>นายเขมฐิติ หวังทรัพย์ทวี</p>
                </div>
                
                <div class="col-md-3 d-flex d-xl-flex align-items-center align-items-xl-center"
                    style="width: 450px;background: #f8f7f7;border-radius: 20px;box-shadow: 0 4px 8px 0 rgba(211, 206, 206, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); margin-left: 20px;">
                    <img class="rounded-circle"
                        src="https://cdn.discordapp.com/attachments/452574191774990356/919213626701803550/unknown.png"
                        width="150px" style="height: 150px;margin: 10px;">
                    <p style="font-size: 18px; font-weight: bold;">64070084<br>นางสาวภัทรานิษฐ์ สิริอุดมศักดิ์</p>
                </div>
            </div>
        </div>
        <div class="container" style="margin-bottom: 40px;">
            <div class="row d-flex d-xl-flex justify-content-center justify-content-xl-center">
                <div class="col-md-3 d-flex d-xl-flex align-items-center align-items-xl-center"
                    style="width: 400px;height: px;background: #f8f7f7;border-radius: 20px;box-shadow: 0 4px 8px 0 rgba(211, 206, 206, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); margin-right: 20px;">
                    <img class="rounded-circle" style="width: 150px;height: 150px;margin: 10px;"
                        src="https://s3-alpha-sig.figma.com/img/b08c/c2b9/eb1e0d4644cf4048060feb161f36430d?Expires=1639958400&Signature=YZucwSGESOUWVebPIa8fmZLuSl0u44edx~uTqXFafuOoVxtZ2yUahm7E25KwEbkv973RHvHLl69Wl52MPgE-~Qy74pKrBdwZA2lPThZEbF9FMBZqVhLLISx0Vbu-SFz9VUfRny-zb6f-zY6j8ulTja3NsJW2zzTU6XMnwWCaTXvoW5o5bCsmQUOTLfDaSIG1V-1jIsLP7azP08JxMIW3UNaYmPlXo124hX7G8W0xzmy6g1ST3~LYD~oq9DdXODsL703nzmL~curP2asVyBgt0jbAJ3ENxOlXhU7mrNhSvOqeURLh5M1sd0dnSQP2WHdUOWRtIGILYNC0AgfWKTt8LA__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA">
                    <p style="font-size: 18px; font-weight: bold;">64070072<br>นายพลวิชญ์ ดวงสุข</p>
                </div>
                <div class="col-md-3 d-flex d-xl-flex align-items-center align-items-xl-center"
                    style="width: 450px;height: px;background: #f8f7f7;border-radius: 20px;box-shadow: 0 4px 8px 0 rgba(211, 206, 206, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); margin-left: 20px;">
                    <img class="rounded-circle" style="width: 150px;height: 150px;margin: 10px;"
                        src="https://s3-alpha-sig.figma.com/img/d4ca/1d84/82ee7de7475868ae72b861d129a85c52?Expires=1639958400&Signature=RKhrP4mNJ00a0WFqvkOAmyAqoze87MHJ6xFAjm4uhRw0sEPOkrwv0WZqhVYfHhHGq4OQE4Pd3HGmg3EwrAmOOjDXjTQLueppERBNEs7ziuTunFx2zfGlxkft8aLhs8tta4eZhkNClya7Yd8KnUJI~Kk5dL9hlUUWbgyPrUdVBpC1jI8WgtKE~p1AO40bWhXSil7ExDgU1vf~gm6ObS0av-itH19b6vPUbQaogD-gxJhnyJD0H3hGuGj0KkZnZZfWG9-t1Ziqo1HaAg2DvXY~OVY0eOhLOuI9d7c20kp7nmD9mPvKLxyHVvUtuCOVolRb-zYEUuBDT65jDqrzOfOXfw__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA">
                    <p style="font-size: 18px; font-weight: bold;">64070085<br>นายภาพตะวัน ปัญญาพานิชกุล</p>
                </div>
            </div>
        </div>
        <div class="container">
            <div
                class="row d-flex d-xl-flex justify-content-center justify-content-xl-center justify-content-xxl-center">
                <div class="col-md-3 d-flex d-xl-flex align-items-center align-items-xl-center"
                    style="width: 400px;background: #f8f7f7;border-radius: 20px;box-shadow: 0 4px 8px 0 rgba(211, 206, 206, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
                    <img class="rounded-circle" style="width: 150px;height: 150px;margin: 10px;"
                        src="https://cdn.discordapp.com/attachments/895621344467767307/919214097055236186/cuteneng.jpg">
                    <p style="font-size: 18px; font-weight: bold;">64070173<br>นายบวรวิช กิตติดำเกิง</p>
                </div>
            </div>
        </div>
        <br>
        <div style="color: #D7D7D7;">
            <center>@จับฉ่ายสบายแฮร์</center>
            <center>PSIT Project</center>
        </div>
    </div>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>