<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>url</title>
</head>
<body>
    {% extends 'layout.html'%}
         {% block content %}
         <div class="container-fluid"></div>
         <h1>Lazy2Use URL Shortener</h1>
            <form action="short_url", method="GET">
                <!-- {% csrf_token %} -->
                <label for="url">Enter an URL:</label>
                <input type="url" name="nm_url" id="url"
                    placeholder="https://example.com" size="50"
                    required>
                <br>
                <input type="submit" value="submit" class="btn btn-primary">
            </form>
         {% endblock %}
     </div>
</body>
</html>
