<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>url</title>
</head>
<body>
    {% extends 'layout.html'%}
         {% block content %}
         <div class="container-fluid"></div>
         <h1>Lazy2Use URL Result</h1>
         <h1>http://127.0.0.1:8000/{{short_url_display}}</h1>
         <a href="http://127.0.0.1:8000/">BACK TO HOME</a>
         {% endblock %}
</body>
</html>