<style>
    .dropbtn {
        background-color: #4CAF50;
        color: white;
        padding: 16px;
        font-size: 16px;
        border: none;
        cursor: pointer;
    }

    .dropdown {
        position: relative;
        display: inline-block;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
    }

    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

    .dropdown-content a:hover {
        background-color: #f1f1f1
    }

    .dropdown:hover .dropdown-content {
        display: block;
    }

    .dropdown:hover .dropbtn {
        background-color: #3e8e41;
    }
</style>
<h1>Youtube Downloader</h1>
<h2><a href="{{video_url}}">{{title_video}}</a></h2>
<img src="{{img_url}}" alt="">
<p>By <a href="{{author_link}}">{{yt_author}}</a></p>

<div class="dropdown">
    <button class="dropbtn">Video</button>
    <div class="dropdown-content">
        {% for index in video%}
            {% for h,v in index.items %}
                <a href="/download/mp4/?name={{video_url}}&url={{v}}">{{h}}</a>
            {% endfor %}
        {% endfor %}
    </div>
</div>

<div class="dropdown">
    <button class="dropbtn">Audio</button>
    <div class="dropdown-content">
        {% for index in audio_track%}
            {% for h,v in index.items %}
                <a href="/download/mp3/?name={{video_url}}&url={{v}}">{{h}}</a>
            {% endfor %}
        {% endfor %}
    </div>
</div>
