{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Youtube Downloader</title>
    <link rel="stylesheet" href="{% static '/youtube_download/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static '/youtube_download/css/styles.css' %}">
</head>

<body style="text-align: right;">

    <nav class="navbar navbar-light navbar-expand-md"
        style="background-image: linear-gradient(to right, #53b8d8, #40b4e5, #3daef2, #50a5fb, #6f9bff); font-family: 'Roboto', sans-serif;">
        <div class="container-fluid"><a class="navbar-brand" href="/"
                style="font-weight: bold;color: rgb(255,255,255); font-size: 50px;">LAZY2USE</a>
            <ul class="navbar-nav">
                <li class="nav-item" style="border-radius: 15px;"><a class="nav-link active"
                        style="margin-left: 5px;margin-right: 5px;color: rgb(0,0,0);background: #c3d5db;border-radius: 15px;font-weight: bold; font-size: 25px;width: 275px;text-align: center;">Youtube
                        Downloader</a></li>
                <li class="nav-item hvr-sink"><a class="nav-link" href="/url"
                        style="border-color: rgb(231,231,231);background: #e3f8ff;color: rgb(0,0,0);border-radius: 15px;margin-right: 5px;margin-left: 5px;font-weight: bold; font-size: 25px;width: 200px;text-align: center;">URL Shortener</a></li>
                <li class="nav-item hvr-sink"><a class="nav-link" href="/about_us"
                        style="border-color: rgb(231,231,231);background: #e3f8ff;color: rgb(0,0,0);border-radius: 15px;margin-right: 5px;margin-left: 5px;font-weight: bold; font-size: 25px;width: 200px;text-align: center;">About Us</a></li>
            </ul>
        </div>
    </nav>
    <h1 style="margin: 0px 0px 8px;text-align: center;margin-top: 8px;font-size: 25px;"><a href="{{video_url}}">{{title_video}}</a></h1><img class="d-flex justify-content-center" style="text-align: center;margin: 0px 10px 0px;margin-right: auto;margin-left: auto;height: auto;width: 350px;min-width: 350px;">
    <div class="container d-flex d-md-flex justify-content-center justify-content-md-center"><img class="d-flex justify-content-center" style="text-align: left;max-width: 1000px;max-height: 1000px;" src="{{img_url}}"></div>
    <p style="text-align: center;width: auto;margin-bottom: 10px;margin-top: 10px;">By : <a href="{{author_link}}">{{yt_author}}</a></p>
    <div class="row" style="margin: 0px;">
        <div class="col" style="text-align: center;">
            <div class="dropdown" style="text-align: right;"><button class="btn btn-primary dropdown-toggle" aria-expanded="false" data-bs-toggle="dropdown" type="button" style="width: 120px;">MP4</button>
                <div class="dropdown-menu">
                {% for h,v in highdev.items %}
                    <a class="dropdown-item" href="{{v}}">{{h}}</a>
                {% endfor %}
                {% for index in video%}
                    {% for h,v in index.items %}
                        <a class="dropdown-item" href="/download/mp4/?name={{video_url}}&url={{v}}">{{h}}</a>
                    {% endfor %}
                {% endfor %}
                </div>
            </div>
        </div>
        <div class="col">
            <div class="dropdown" style="text-align: left;"><button class="btn btn-primary dropdown-toggle" aria-expanded="false" data-bs-toggle="dropdown" type="button" style="text-align: center;width: 120px;padding: 10;">MP3</button>
                <div class="dropdown-menu">
                    {% for index in audio_track%}
                        {% for h,v in index.items %}
                            <a class="dropdown-item" href="/download/mp3/?name={{video_url}}&url={{v}}">{{h}}</a>
                        {% endfor %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <script src="{% static '/youtube_download/bootstrap/js/bootstrap.min.js' %}"></script>
</body>

</html>
